.jiz{

    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 110px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter:blur(8px);
  }
  
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .underline {
    height: 2px;
    background-color: #333;
    width: 50px;
    margin: 10px auto;
  }
  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
  }
  
  .forgot-password {
    text-align: right;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .forgot-password span {
    color: #007bff;
    cursor: pointer;
  }
  
  .submit-container {
    text-align: center;
  }
  
  .submit {
    background-color: #131212;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit:hover {
    background-color: #da57a3;
  }
  body {
  background-image: url("C:\second\res\src\Components\images\h2.jpeg");

  /* background-size: cover; */
  }
  button {
    background-color: #0e0d0d;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #cfc8c9;
  }